/*Colors:
#17C5FF
#BEEBFA*/

body {
  background       : #ffffff;
  font-family      : "Helvetica Neue", Helvetica, Arial, sans-serif;
  color            : #333;
  margin: 0 auto;
}

/*header*/

header {
  background-color: grey;
  padding: 10px 10px 0 10px;
  margin: 0;
  text-decoration: none;
}

header h1 {
  margin: 0 0 0 10px;
  display: inline;
  color: #ffffff;
}

header nav ul {
  display: inline-flex;
  margin: 0 auto;
  margin-right: 10px;
}

header nav ul li {
  background-color: black;
  display: inline-block;
  list-style-type: none;
  padding: 5px 15px;
  margin: 0 10px;
  margin-top: 5px;
  border-radius: 5px 5px 0 0;
}

header nav ul li a {
  padding: 0 10px;
  color: white;
  margin: 0;

}

/*main*/

main {
  padding: 20px;
  margin: 0;
  position: relative;
}


/*Container*/


.container {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  width: 720px;
  background-color: #BEEBFA;
  border: 4px solid;
  border-color: #17C5FF;
  margin-top: 20px;
  padding: 10px;
}

.container hr {
  background-color: #17C5FF;
  padding: 2px;
  border: none;
  border-radius: 2px;
}

.container p {
  margin: 10px 0;
}

.container p:first-child{
  margin: 0 0 10px 0;
}
.container p:last-child {
  margin: 10px 0 0 0;
}


/*Slider*/

#main-slider {
  background-color: lightgrey;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  width: 720px;
  padding: 20px;
  border: 3px solid;
  border-color: #222;
}

#main-slider #slider{
  margin: 0;
  padding: 0;
  width: 720px;
  height: 400px;
  overflow: hidden;
}

#main-slider #slider .slides {
  width: 6000px;
  height: 400px;
  display: block;
  margin: 0;
  padding: 0;
}

#main-slider #slider .slide {
  float: left;
  list-style-type: none;
  width: 720px;
  height: 400px;
}

#main-slider hr {
  background-color: #222;
  padding: 1.5px;
  border: none;
  margin: 10px 0;
}

#main-slider .slider-underline {
  padding: 0;
  margin: 0;
  height: 21px;
  display: block;
}

#main-slider .slider-underline li {
  float: left;
  margin: 0;
  list-style-type: none;
  display: block;
}

#main-slider .slider-underline .under-slider{
  width: 240px;
}

#main-slider .slider-underline button{
  width: 150px;
}

#main-slider .slider-underline .btn-prev {
  text-align: left;
}

#main-slider .slider-underline .btn-next {
  text-align: right;
}

#main-slider .slider-underline .p-center p {
  text-align: center;
  margin: 1.5px 0;
}
