body {
  background       : #ffffff;
  font-family      : "Helvetica Neue", Helvetica, Arial, sans-serif;
  color            : #333;
  margin: 0;
}

/*header*/

header {
  background-color: #888;
  padding: 10px 10px 0 10px;
  margin: 0;
  text-decoration: none;
}

header h1 {
  margin: 0 0 0 10px;
  display: inline;
  color: #ffffff;
}

header nav ul {
  display: inline-flex;
  margin: 0;
}

header nav ul li {
  background-color: black;
  display: inline-block;
  list-style-type: none;
  padding: 5px 15px;
  margin: 0 10px;
  margin-top: 5px;
  border-radius: 5px 5px 0 0;
}

header nav ul li a {
  padding: 0 10px;
  color: white;
  margin: 0;
}

/*main*/

main {
  padding: 5px;
  margin: 0;
}

main .container {
  margin: 5px;
  padding: 10px;
  border: 4px solid;
}

.container hr {
 background-color: black;
 padding: 2px;
 border: none;
 border-radius: 2px;
}

.container p:first-child{
  margin: 0 0 10px 0;
}
.container p:last-child {
  margin: 10px 0 0 0;
}


/*Slider*/

#main-slider {
  margin: 0;
  width: 720px;
  padding: 20px;
  border: 3px solid;
}

#main-slider #slider{
  margin: 0;
  padding: 0;
  width: 720px;
  height: 400px;
  overflow: hidden;
}

#main-slider #slider .slides {
  width: 6000px;
  height: 400px;
  display: block;
  margin: 0;
  padding: 0;
}

#main-slider #slider .slide {
  float: left;
  list-style-type: none;
  width: 720px;
  height: 400px;
}

#main-slider hr {
  background-color: black;
  padding: 1.5px;
  border: none;
  margin: 10px 0;
}

.slider-underline {
  padding: 0;
  margin: 0;
  height: 21px;
  display: block;
}

.slider-underline li {
  float: left;
  margin: 0;
  list-style-type: none;
  display: block;
}

.slider-underline .under-slider{
  width: 240px;
}

.slider-underline button{
  width: 150px;
}

.slider-underline .btn-prev {
  text-align: left;
}

.slider-underline .btn-next {
  text-align: right;
}

.slider-underline .p-center p {
  text-align: center;
  margin: 1.5px 0;
}
